.about {
  max-width: 900px; 
  margin: 50px auto 50px; 
  background: #1a1a1a !important; 
  padding: 50px;
  border-radius: 30px;
  
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5); 
  
  border: 1px solid rgba(197, 160, 89, 0.15); 
  text-align: center;
  color: #f4f4f4;
}

.ico {
  margin-top: 40px;
  display: flex;          
  flex-direction: column; 
  gap: 20px;              
  align-items: center;    
}

.ico p {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #c5a059 !important;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0;
  width: fit-content;    
  text-align: left;
}

.about p {
  line-height: 1.8;
  font-size: 1.2rem;
  color: #d1d1d1;
  margin-bottom: 20px;
}