.Events {
  background-color: #121212;
  min-height: 100vh;
  padding: 180px 10% 80px; 
  color: #c5a059;
  font-family: 'Segoe UI', sans-serif;
}

.title {
  font-size: 1.2rem;
  color: #c5a059; 
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

th {
  background-color: #c5a059;
  color: #000;
  padding: 18px;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

td {
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  text-align: center;
  color: #ddd;
}

button{
  text-decoration: none;
  background-color: #ffffff;
  color: #121212;
  padding: 8px 20px;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

button:hover{
  background-color: #ffcc00;
  color: #000;
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}





